:root {
    --mainback: #EAEAEA;
    --headerfooter: #333333;
    --header: #9B2948;
    --pcolor1: #333333;
    --pcolor2: #330733;
    --accent: #007ACC;
    --link: #4CAF50;
    --button:  #FF5722;
    --hover: #FFC107;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    background-color: var(--mainback);
    color: var(--pcolor1)
}

/*Header */

header {
    width: 100%;
    height: 70px;
    background-color: var(--headerfooter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
    border-bottom: 3px solid #00000020;
  }

header h1 {
    color: var(--accent);
    margin-left: 10px;
}
/* Nav link styles */

nav {
  width: 100%;
  height: 70px;
}

nav ul {
    position: fixed;
    right: 0;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    font-size: 1.5rem;
    gap: 0;
    }

nav > ul > li {
  color: var(--accent);
  padding: 1.21rem 3rem;
  display: block;
  height: 100%;
  text-align: center;
  align-items: center;
}

nav > ul > li:hover {
  background-color: var(--accent);
  color: var(--hover);
  cursor: pointer;
}

nav a {
  color: var(--h1color2);
  text-decoration: none;
  font-size: 1.7rem;
}

nav a:hover {
  color: var(--h1color1);
}

#welcome-section, #projects, #contact {
  scroll-margin-top: 70px;
}
/* MAIN */

main {
padding-top: 0;
margin: 0;
height: 200vh;
}

section h1, section  h2 {
color: var(--h1color1);
font-family: 'Raleway', sans-serif;
font-size: 1.8rem;
text-align: center;
font-family: 'Libre Baskerville';
font-weight: 600;

}

p {
color: var(--pcolor1)
}

.welcome-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(30deg, #FFBB66, #FF8C42);
}

.welcome-s h1 {
    color: var(--accent);
    font-size: 3.2rem;
}

.projects {
    background-color: var(--mainback);
    padding: 20px;
}

.projects h1 {
    color: var(--accent);
    max-width: 650px;
    margin: auto;
    font-size: 2.5rem;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--accent);

}


/* PROJECTS */

.projecttiles {
  width: 100%;
  max-width: 1500px;
  margin:  75px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;

}

.project-tile {
  height: 50vw;
  width: 40vw;
  max-width: 400px;
  max-height: 500px;
  min-width: 340px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: var(--pcolor1);
  color: var(--accent);
}

.project-tile:hover {
  background-color: var(--accent);
  color: var(--hover);
  border: 3px solid var(--headerfooter);
  border-top: 1px solid var(--headerfooter);
}

.imgt {
  height: 80%;
  width: 100%;
}

.project-tile img {
  width: 100%;
  height: 100%;
  aspect-ratio: 8 / 6;
  margin: auto;
  object-fit: cover;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  
}




section a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.project-tile h2 {
  font-size: 1.5rem;
  margin: auto;
  padding: 10px 11px;
}

/* CONTACT */
.contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(250deg, #FFBB66, #FF8C42);
}

.contact h1 {
  color: var(--accent);
  font-size: 2.5rem;
  font-weight: 600;

}

.links {
  position: relative;
  top: 50px;
  display: flex;
  gap: 30px;
  color: var(--headerfooter);
  height: 100px;
}

.contact h2 {
  font-size: 1.6rem;
  transition-property: font-size;
  transition-duration: 0.2s;
  
}

.contact h2:hover {
  font-size: 1.8rem;
}


/*footer*/

footer {
  background-color: var(--headerfooter);
}

footer p {
  color: var(--accent);
  padding: 25px 20px;
  font-size: 1.2rem;
  text-align: right;
}

/*media querys*/

@media (max-width: 518px) {

  nav ul {
    position: static;
    right: none;
  }

  nav > ul > li {
    padding: 1.21rem 0.4rem;
  }
}